<template>
	<div class="row">
		<div class="col-md-6 offset-md-3">
			<br>
			<div class="row">
				<div class="col-md-12">
					<!-- <a @click="home" href="javascript:void(0)"><b>Home</b></a> -->
					<h5 class="text-center">{{title}}</h5>
					<a @click="home" v-if="$route.params.keyword" href="javascript:void(0)"><b>Return Home</b></a>
				</div>
			</div>
			<br>
			<div class="row">
				<div class="col-md-12">
					<form @submit.prevent="search">
						<div class="input-group mb-3">
						  <input type="text" class="form-control" placeholder="Search" aria-describedby="btn-search" v-model="keyword">
						  <div class="input-group-append">
						    <span class="input-group-text btn" @click="search" id="btn-search">Search</span>
						  </div>
						</div>
					</form>
				</div>
			</div>

			<div class="row">
				<div class="col-md-12">
					<div  v-for="(item, index) in cityList">
						<router-link :to="'/weather/'+item.woeid">
							<weather :woeid="item.woeid"></weather>
						</router-link>

					</div>
				</div>
			</div>

		</div>
	</div>
</template>
<script>
	
	import axios from 'axios';
	import weather from './weather.vue';

	export default{

		mounted(){
			if(this.$route.params.keyword != undefined){
				this.keyword = this.$route.params.keyword;
				this.cityList = []
				this.search();
			}
			else{
				this.home()
			}
		},
		data(){
			return{
				cityList:[],
				keyword: "",
				isHome: true,
				title: ""
			}
		},
		components: {weather},
		methods: {
			search(){

				this.title = `Searching for "${this.keyword}"`;
				this.isHome = false;
				this.$router.push(`/search/${this.keyword}`)
				this.cityList = [];
				axios.get(`weather.php?command=search&keyword=${this.$route.params.keyword}`)
				.then(response=>{
					for(let i = 0; i < response.data.length; i++){
						this.cityList.push({woeid: response.data[i].woeid})
					}
					this.title = `Showing search results for "${this.$route.params.keyword}"`;
				})

			},
			home(){

				this.title = "Home"
				this.keyword = ""
				this.isHome = true;
				this.cityList = [
					{woeid: "2344116"},
					{woeid: "638242"},
					{woeid: "44418"},
					{woeid: "565346"},
					{woeid: "560743"},
					{woeid: "9807"}
				]
				this.$router.push(`/`)
			}
		}

	}

</script>
<style scoped>
a, a:hover, a:focus {
    color: #212529;
    text-decoration: none;
}
</style>