<template>
	<div>
		<!-- {{this.details.consolidated_weather}} -->
		<div class="row" v-if="!this.$route.params.woeid">
			<div class="col-md-12">
				<div class="card"  v-if="this.details.consolidated_weather">
					<div class="card-header">
						{{this.details.title}} <span class="float-right">{{this.details.consolidated_weather[0].applicable_date+" | "+getDayName(this.details.consolidated_weather[0].applicable_date)}}</span>
					</div>
					<div class="card-body">
						<div class="row">
							<div class="col-sm-6">
								<p>Temperature : </p>
								<p>Max. Temperature : </p>
								<p>Min. Temperature : </p>
								<p>Weather State : </p>
							</div>
							<div class="col-sm-6">
								<p>{{this.details.consolidated_weather[0].the_temp}}</p>
								<p>{{this.details.consolidated_weather[0].max_temp}}</p>
								<p>{{this.details.consolidated_weather[0].min_temp}}</p>
								<p>
									{{this.details.consolidated_weather[0].weather_state_name}}
									<img style="width: 32px; height: 32px;" :src="`https://www.metaweather.com/static/img/weather/png/${this.details.consolidated_weather[0].weather_state_abbr}.png`">
								</p>
							</div>
						</div>
					</div>
				</div>
				<div v-else>
					<h5 class="text-center">Loading...</h5>
				</div>
				<br>
			</div>
		</div>
		<div class="row" v-else>
			<div class="col-md-6 offset-md-3">
				<br>
				<h5 class="text-center">Weather Details</h5>
				<router-link to="/"><b>Return Home</b></router-link>
				<br>
				<br>
				<div class="card"  v-if="this.details.consolidated_weather">
					<div class="card-header">
						{{this.details.title}}
					</div>
					<div class="card-body">
						<div v-for="item in this.details.consolidated_weather">
							<div class="row">
								<div class="col-sm-6">
									<p>Applicable Date :</p>
									<p>Temperature : </p>
									<p>Max. Temperature : </p>
									<p>Min. Temperature : </p>
									<p>Weather State : </p>
								</div>
								<div class="col-sm-6">
									<p>{{item.applicable_date+" | "+getDayName(item.applicable_date)}}</p>
									<p>{{item.the_temp}}</p>
									<p>{{item.max_temp}}</p>
									<p>{{item.min_temp}}</p>
									<p>
										{{item.weather_state_name}}
										<img style="width: 32px; height: 32px;" :src="`https://www.metaweather.com/static/img/weather/png/${item.weather_state_abbr}.png`">
									</p>
								</div>
							</div>
							<hr>
						</div>
					</div>
				</div>
				<div v-else>
					<h5 class="text-center">Loading...</h5>
				</div>
				<br>
			</div>
		</div>
	</div>
</template>
<script>
	
	import axios from 'axios';
	export default{

		mounted(){
			this.getData();
		},
		data(){
			return{

				details: {},

			}
		},
		methods:{
			getData(){
				var woeid = this.woeid
				if(this.woeid == undefined){
					woeid = this.$route.params.woeid
				}
				axios.get(`weather.php?command=location&woeid=${woeid}`)
				.then(response=>{
					this.details = response.data
				})
			},
			getDayName(day){
				var fields = day.split('-');
				var d = new Date(fields[0], fields[1]-1, fields[2]);
				var weekday = ["Sunday", "Monday", "Tuesday", "Wednesday", "Thursday", "Friday", "Saturday"]
				return weekday[d.getDay()];
			}
		},
		props: ['woeid'],
		watch: {
			woeid: function(){
				this.getData()
			}
		}

	}

</script>
<style scoped>
a, a:hover, a:focus {
    color: #212529;
    text-decoration: none;
}
</style>